<h2>hell comp</h2>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
 



<script>

$(document).ready(function(){

	var fname = "test";
    var lname ="ltest";

	var formData = new FormData();

     formData.append("fname", fname);
     formData.append("lname", lname);



	var settings = {
		"async": true,
		"crossDomain": true,
		"url": "/bin/schwarzkopf/test",
		"method": "POST",
		"processData": false,
        "contentType":false,
		"data": formData
	}

	$.ajax(settings).done(function (response) {
		console.log('success ',response);


	}).fail(function (response) {
		console.log('fail ',response);


	});


});

</script>
